{% extends 'base.html.twig' %}

{% block title %}CGU Register{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Généraless d\'Utilisation'}) }}

<div class="container">
    <h1 class="text-center">Conditions Générales d'Utilisation du site Shopee</h1>

    <p class="text-justify">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laudantium ullam optio? Quos fugiat consequuntur sunt impedit consectetur, placeat, distinctio nihil nesciunt expedita voluptas provident pariatur alias mollitia eos at?
        Recusandae vero consequatur earum suscipit voluptatem tempore minus ipsam atque ab deleniti sequi ullam cumque facilis laborum provident ex autem perferendis magnam, harum laudantium! Explicabo non laudantium molestias nam tenetur?
        Recusandae suscipit laborum in non maxime voluptatum, soluta molestiae inventore quaerat repellat, sunt fugiat est provident itaque corrupti quia earum accusamus autem modi. Pariatur perferendis, similique maiores aliquam repudiandae consequuntur!
        Ea fugit aliquam ab architecto at, necessitatibus numquam tenetur incidunt. Nesciunt delectus doloremque ut nobis reiciendis, aperiam ex? Reprehenderit molestias rerum dicta excepturi ut impedit cumque. Facere officia libero eos!
        Perferendis cumque voluptatibus voluptas adipisci nesciunt ratione, nulla, doloribus quaerat, repellendus iure laborum. Delectus ab magnam in molestias, iste expedita quam voluptatem unde eos recusandae sint esse suscipit cupiditate mollitia!
        Illo fugit quibusdam eius corrupti totam illum possimus aut tempora nostrum? Et veniam ex, provident iure laboriosam ea dicta. Omnis quod necessitatibus facere cumque voluptatem non assumenda vitae tenetur quaerat?
        Eveniet repudiandae veniam autem minus maxime quas, nobis perferendis consequuntur rem magnam illo? Modi, cum. At natus reprehenderit laboriosam obcaecati alias tenetur corporis accusamus corrupti quos? Quae voluptatem cumque odit.
        Id reiciendis totam quibusdam ipsum ab laudantium placeat, aut eligendi magnam? Repudiandae eveniet iste natus illo, impedit labore nobis officiis earum nulla delectus vitae perferendis ex commodi praesentium ullam sapiente!
        Quos nam saepe ducimus veritatis asperiores quis quaerat corrupti illo consectetur, omnis eaque amet ea nostrum dicta autem minus. Laudantium voluptas, libero esse sunt delectus repellendus. Sequi minus dolorum nostrum?
        Accusamus rem voluptate exercitationem. Asperiores perferendis quod ut tempore autem, rerum tenetur consequatur! Quas aut animi praesentium sequi debitis dicta, dolorum nostrum perferendis, esse iure sed nihil! Officiis, facere ipsum?
        Temporibus dolore aliquam placeat perferendis! Eos possimus, inventore cum, non deleniti laboriosam vitae eaque veniam cupiditate ab quaerat dolore quo provident dolor, voluptates impedit! Adipisci minus deleniti voluptas? Tempora, libero.
        Aut dolorem omnis voluptatum eos iusto amet itaque tenetur eaque, eius ratione vitae id esse, est mollitia molestias accusamus dolores atque blanditiis aliquid ipsa quas consequuntur veritatis! Libero, et esse.
        Ipsum et adipisci numquam, eum dolores, earum vitae, sit consequuntur quam ipsa modi dolorum doloribus libero quas molestias ipsam recusandae. Ab, ducimus consectetur. Magnam porro ipsa laborum, aut ex ad?
        Amet suscipit mollitia sequi optio error eaque esse molestiae expedita natus vitae aspernatur repellat placeat id, fuga quasi dicta veniam officiis. Assumenda in ducimus dolor eaque ex sint, quasi illo.
        Nam dicta earum itaque et ex exercitationem, sit voluptatibus ratione iste qui culpa aut, obcaecati rem accusamus quos quo fuga praesentium reiciendis tenetur doloremque deserunt vel. Eveniet cupiditate maiores eligendi?
        Vero corporis, maxime sed ab unde consectetur recusandae ut esse, corrupti accusamus inventore quaerat sequi debitis deleniti repellat. Accusamus, atque? Perspiciatis neque tempore in eos atque commodi iste temporibus possimus!
        Eveniet omnis, et beatae nam perferendis excepturi obcaecati nulla voluptatibus ducimus minus voluptatum in modi officiis quasi, officia facilis veniam alias corporis asperiores laudantium vitae aperiam ipsam temporibus voluptas. Delectus.
        Quisquam vel explicabo obcaecati error libero repellat alias necessitatibus quibusdam. Consequatur laborum dignissimos, rerum saepe ea rem laudantium minima exercitationem beatae accusamus provident sed illo magni officia repellendus! Modi, eius.
        Nemo incidunt ex cum, laboriosam ipsum excepturi molestiae et eveniet corporis sint dolor delectus rerum deleniti maxime nam aliquid vero cupiditate sapiente perspiciatis necessitatibus saepe hic? Perferendis optio corporis tempore!
        Vero molestias sed, nostrum nobis in, sequi unde repellendus asperiores ex enim, voluptate nam voluptatum hic porro maiores! Debitis magnam vero doloremque saepe laborum repudiandae, animi consequatur delectus quam veritatis?
    </p>
</div>
{% endblock %}
